.w-100 {
    width: 100% !important;
  }

.bg-custom-green {
    background-color: #31470b;
}
.bg-custom-yellow {
    background-color: #fef9c3;
}
.rounded-lg {
    border-radius: 15px;
}


/*Esquema para letras en tipografía Beba Neus (TITULOS) en verde*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.text-custom-green {
    color: #31470b;
    font-family: 'Bebas Neue', sans-serif; /* Añadir la nueva tipografía */
}
/*Esquema para letras en tipografía Beba Neus (TITULOS) en amarillo*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.text-custom-green2 {
    color: #fef9c3;
    font-family: 'Bebas Neue', sans-serif; /* Añadir la nueva tipografía */
}

/*Esquema para letras en tipografía Montserrat en verde y amarillo*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');
.text-custom-paragraph {
    color: #31470b;
    font-family: 'Montserrat', sans-serif; 
}
.text-custom-paragraph2 {
    color: #fef9c3;
    font-family: 'Montserrat', sans-serif; 
}
