.icono-login {
    width: 50px;
    height: 50px;
  }
  .icono-login2 {
    width: 50px;
    height: 40px;
  }


.bg-inputs{
    background-color: #f1f6aa;
}

.borde{
    border-radius: 25px;
}

.inputs-width{
    width: 400px;
    background-color: #31470b;
}

.container-width{
    width:550px;
}

.borde-input{
    border-radius: 15px;
    color: white;
}

.text-white{
    color: #fef9c3;
}

.borde-input:focus{
    background-color: #31470b; /* Color del placeholder */
    color: #fef9c3;
}

.button-width{
    width: 200px;
}


/*Color para los titulos en los inputs*/
.placeholder-custom::placeholder {
    color: #b0ae8b;
}


/*Esquema para letras en tipografía Beba Neus (TITULOS) en verde*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.text-custom-green {
    color: #31470b;
    font-family: 'Bebas Neue', sans-serif; /* Añadir la nueva tipografía */
}
/*Esquema para letras en tipografía Beba Neus (TITULOS) en amarillo*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.text-custom-green2 {
    color: #fef9c3;
    font-family: 'Bebas Neue', sans-serif; /* Añadir la nueva tipografía */
}

/*Esquema para letras en tipografía Beba Neus (TITULOS) en amarillo mas claro*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.text-custom-green3 {
    color: #d9d6ad;
    font-family: 'Bebas Neue', sans-serif; /* Añadir la nueva tipografía */
}


/*Esquema para letras en tipografía Montserrat en verde y amarillo*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');
.text-custom-paragraph {
    color: #31470b;
    font-family: 'Montserrat', sans-serif; 
}

.text-custom-paragraph2 {
    color: #fef9c3;
    font-family: 'Montserrat', sans-serif; 
}


/*Cambios de colores para activar cuando se posiciona el cursor*/
.nav-link.active {
    background-color: transparent !important; 
    color: inherit !important; 
    background-color: #31470b!important;
    color: #fef9c3 !important;
}

.nav-link {
    color: #31470b !important; 
}

