.inputs-h{
    height:10px  !important;
}

.text-white{
    color:white
}

/* Simplificar y aumentar especificidad */
.highlight-date {
    border: 2px solid #045c2c !important; /* Recuadro verde oscuro */
    border-radius: 5px !important; /* Redondear el borde */
    background-color: transparent !important; /* Fondo transparente */
}

/* Desactivar el resaltado por defecto de fines de semana */
.react-calendar__month-view__days__day--weekend {
    color: inherit !important;
}

/* Estilos generales del calendario */
.react-calendar {
    width: 100%;
    max-width: 350px;
    font-size: 14px;
    margin: 0 auto;
}